# Shit that don't need to be in here such as history.
export/*
.vscode/*
*.code-workspace
.history
.ionide

# Shit that needs to be included from excluded folders.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# .gitignore cleaned up by Char 👍